p {
    color: white;
}
button {
    height: 22px;
}
.vanta-canvas {
    height: 675px;
    z-index: 0;
}
.wrapper-container {
    margin-left: 100px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.wrapper-container h1 {
    color:white
}
.submitAll {
    display: flex;
    align-items: center;
}
.div {
    opacity: 0;
}
.result {
    text-align: center;
}